<%= turbo_frame_tag family do %>
  <div class="card border-primary card-hover">
    <div class="card-body">
      <h3 class="card-title">Kazoku の名前</h3>
      <div style="display: flex; align-items: center;">
        <p class="card-subtitle fs-3"><%= family.name %></p>
      </div> 
      <%= link_to "編集", edit_family_path(@family) %>

      <h3 class="card-title mt-4">Kazoku のみんな</h3>
      <ul class="list-group list-group-flush">
        <% family.users.each do |user| %>
          <li class="list-group-item">
            <!-- User Image Thumbnail -->
            <%= image_tag(user.image.attached? ? url_for(user.image.variant(resize_to_limit: [50, 50])) : image_url('default.png'), class: "user-thumbnail rounded-circle mb-2") %>
            <div><%= link_to user.name, user_path(user), data: { turbo: false } %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
