<%= turbo_frame_tag @user do %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border">
                    <!-- User Image -->
                    <%= image_tag(@user.image.attached? ? url_for(@user.image.variant(resize_to_limit: [400, 400])) : image_url('default.png'), class: "card-img-top") %>
                    
                    <!-- User Details -->
                    <div class="card-body">
                        <h5 class="card-title"><%= @user.name %></h5>
                        
                        <%= bootstrap_form_with(model: @user) do |form| %>
                            <p class="mb-2">
                                <%= form.select :relationship, 
                                                [['父', 'father'], ['母', 'mother'], ['兄', 'older_brother'], ['姉', 'older_sister'], ['弟', 'younger_brother'], ['妹', 'younger_sister'], ['祖父', 'grandfather'], ['祖母', 'grandmother'], ['その他', 'other']], 
                                                { include_blank: '選択してください' }, 
                                                class: 'form-select'%>
                            </p>
                            
                            <div data-controller="birthdate-calculations">
                                <p class="mb-2">
                                        <%= form.label :birthdate, t('activerecord.attributes.user.birthdate'), class: 'form-label' %>
                                        <%= form.date_field :birthdate,
                                                            data: { birthdate_calculations_target: 'birthdate', action: 'change->birthdate-calculations#calculate' }, 
                                                            label_as_placeholder: true,
                                                            max: Date.today.to_s %>
                                </p>
                            
                                <p class="mb-2">
                                    <%= form.text_field :age,
                                                        data: { birthdate_calculations_target: 'age' },
                                                        readonly: true,
                                                        class: 'readonly-input'%>
                                </p>
                                
                                <p class="mb-2">
                                    <%= form.text_field :constellation,
                                                        data: { birthdate_calculations_target: 'constellation' },
                                                        readonly: true,
                                                        class: 'readonly-input' %>
                                </p>
                            </div>
                            
                            <p class="mb-2">
                                <%= form.select :blood_type,
                                                [['A型', 'A'], ['B型', 'B'], ['O型', 'O'], ['AB型', 'AB']],
                                                { include_blank: '選択してください' }, 
                                                class: 'form-select' %>
                            </p>
                            
                            <p class="mb-2">
                                <%= form.file_field :image %>
                            </p>
                            
                            <%= form.submit "更新", class: "btn btn-primary btn-sm mr-2" %>
                            <%= link_to "キャンセル", user_path(@user), class: "btn btn-dark close-btn btn-sm" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
