<%= turbo_frame_tag @user do %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border">
                    <!-- User Image -->
                    <%= image_tag(@user.image.attached? ? url_for(@user.image.variant(resize_to_limit: [400, 400])) : image_url('default.png'), class: "card-img-top") %>
                    
                    <div class="d-flex justify-content-end">
                        <% if @user.image.attached? %>
                            <%= button_to '画像の削除', destroy_image_user_path(@user), method: :delete, data: { turbo_confirm: '本当に削除しますか?' }, class: 'float-right' %>
                        <% end %>
                    </div>

                    <!-- User Details -->
                    <div class="card-body">
                        <h5 class="card-title"><%= @user.name %></h5>
                        
                        <p class="mb-2">
                            <strong><%= User.human_attribute_name(:relationship) %></strong><br>
                            <span style="margin-left: 1em;"><%= @user.relationship.present? ? t("relationships.#{@user.relationship}") : "--未登録--" %></span>
                        </p>
                        
                        <p class="mb-2">
                            <strong><%= User.human_attribute_name(:birthdate) %></strong><br>
                            <span style="margin-left: 1em;"><%= @user.birthdate.present? ? I18n.l(@user.birthdate, format: :long) : "--未登録--" %></span>
                        </p>

                        <p class="mb-2">
                            <strong><%= User.human_attribute_name(:age) %></strong><br>
                            <span style="margin-left: 1em;"><%= @user.age.present? ? "#{@user.age}際" : "--未登録--" %></span>
                        </p>
                        
                        <p class="mb-2">
                            <strong><%= User.human_attribute_name(:constellation) %></strong><br>
                            <span style="margin-left: 1em;"><%= @user.constellation.present? ? @user.constellation : "--未登録--" %></span>
                        </p>

                        <p class="mb-2">
                            <strong><%= User.human_attribute_name(:blood_type) %></strong><br>
                            <span style="margin-left: 1em;"><%= @user.blood_type.present? ? "#{@user.blood_type}型" : "--未登録--" %></span>
                        </p>
                    </div>
                </div>
                <!-- 編集ボタンなどをカードの外に表示 -->
                <div class="mt-3">
                    <%= link_to 'back', families_path(@user), class: "btn btn-secondary" %>
                    <% if @user.id == current_user.id %>
                        <%= link_to 'edit', edit_user_path(@user), class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>