<!-- Sign up form -->
<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-lg-6 col-md-8 col-12 pt-1 pt-md-4 pb-4">
      <h1 class="text-center text-xl-start">新規登録</h1>
      <p class="text-center text-xl-start pb-3 mb-3"> <%= link_to "ログインはこちらから", login_path %></p>
      <%= bootstrap_form_with(model: @user) do |f| %>
        <%= f.text_field :name %>
        <%= f.email_field :email %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.hidden_field :family_id, value: params[:family_id] %>
        <%= f.submit "会員登録", class: "btn btn-custom" %>
      <% end %>
    </div>
  </div>
</div>