<!-- Navbar -->
<header class="header navbar navbar-dark bg-dark shadow-sm fixed-top">
  <div class="container px-3">
    <%= link_to root_path, class: 'navbar-brand pe-3' do %>
      Kazoku-Works
    <% end %>

    <!-- Hamburger icon -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- Offcanvas Menu -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <% if logged_in? %>
        <%= link_to 'ファミリー', families_path(current_user.family), class: 'd-block mb-2' %>
        <%= link_to 'イベント一覧', events_path, class: 'd-block mb-2' %>
        <%= link_to 'イベント作成', new_event_path, class: 'd-block mb-2' %>
        <%= link_to '思い出一覧', memories_path, class: 'd-block mb-2' %>
        <%= link_to '思い出作成', new_memory_path, class: 'd-block mb-2' %>
        <%= link_to 'ログアウト', logout_path, method: :delete, data: { controller: 'confirm', action: 'click->confirm#confirmLogout' }, class: 'd-block mb-2' %>
      <% else %>
        <%= link_to 'ログイン', login_path, class: 'd-block mb-2' %>
        <%= link_to '会員登録', new_user_path, class: 'd-block mb-2' %>
      <% end %>
    </div>
  </div>
</header>
