<!-- Navbar -->
<header class="header navbar navbar-dark bg-dark shadow-sm fixed-top">
  <div class="container px-3">
    <%= link_to root_path, class: 'navbar-brand pe-3' do %>
      Kazoku-Works
    <% end %>

    <!-- Hamburger icon -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- Offcanvas Menu -->
  <div class="offcanvas offcanvas-end offcanvas-dark" tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-header d-flex justify-content-between align-items-center"> <!-- Flexboxを使用して要素を並べる -->
      <h5 class="offcanvas-title mb-0">Menu</h5> <!-- mb-0を追加して余分なマージンを削除 -->
      <button type="button" class="btn btn-dark close-btn" data-bs-dismiss="offcanvas" aria-label="Close">Close</button> <!-- close-btnクラスを追加 -->
    </div>
    <div class="offcanvas-body">
      <% if logged_in? %>
        <%= link_to 'Kazoku ページ', families_path(current_user.family) %>
        <%= link_to 'Kazoku 招待', new_family_path %>
        <%= link_to 'イベント ページ', events_path %>
        <%= link_to 'イベント 作成', new_event_path %>
        <%= link_to '思い出 ページ', memories_path %>
        <%= link_to '思い出 作成', new_memory_path %>
        <%= button_to 'ログアウト', logout_path, method: :delete, data: { controller: 'confirm', action: 'click->confirm#confirmLogout' }, class: 'btn btn-link d-block mb-2' %>
      <% else %>
        <%= link_to 'ログイン', login_path %>
        <%= link_to '会員登録', new_user_path %>
      <% end %>
    </div>
  </div>
</header>
