<%= bootstrap_form_with model: event do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-10">
      <p class="card-text fs-sm mb-2">
        <%= form.select :event_type, Event.enum_options_for_select(:event_type), { include_blank: '選択してください' }, class: "form-select" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <p class="card-text fs-sm mb-2">
        <%= form.text_field :title, class: "form-control" %>
      </p>
    </div>
  </div>
  <div class="row" data-controller="date-picker">
    <div class="col-sm-10">
      <p class="card-text fs-sm mb-2">
        <%= form.label :start_date, class: 'form-label' %>
        <%= form.date_field :start_date, class: "form-control", label_as_placeholder: true %>
      </p>
    </div>
    <div class="col-sm-10">
      <p class="card-text fs-sm mb-2">
        <%= form.label :end_date, class: 'form-label' %>
        <%= form.date_field :end_date, class: "form-control", label_as_placeholder: true %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <p class="card-text fs-sm mb-2">
        <%= form.text_area :content, class: "form-control", rows: 3 %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <p class="card-text fs-sm mb-2">
        <%= form.select :visibility, Event.enum_options_for_select(:visibility), { include_blank: '選択してください' }, class: "form-select" %>
      </p>
    </div>
  </div>
  <%= form.submit "保存する", class: "btn btn-primary" %>
<% end %>
