<%= provide(:title, t('activerecord.models.memory')) %>

<%= turbo_frame_tag 'memories' do %>
  <div class="container mt-5">
    <h1 class="mb-4">Memories</h1>

    <% @memories.each do |memory| %>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= memory.title %></h5>
            <p class="card-text"><%= memory.date.strftime('%Y-%m-%d') %></p>
          <div class="d-flex justify-content-between">
            <%= link_to t('activerecord.action.show'), memory, class: "btn btn-primary", data: { turbo_frame: 'memories', turbo_action: 'replace' } %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="mt-4">
      <%= link_to t('activerecord.action.create'), new_memory_path, class: "btn btn-success", data: { turbo_action: 'replace' } %>
    </div>
  </div>
<% end %>

