<%= provide(:title, t('activerecord.models.memory')) %>

<%= turbo_frame_tag 'memories' do %>
  <% if @events.empty? %>
    <div class="container ml-3">
      <p>まだ思い出にするイベントがありません！最初のイベントを作成してみましょう！</p>
      <%= link_to '新規イベントを作成する', new_event_path, data: { turbo: 'false' }, class: "small d-block mt-2" %>
    </div>
  <% else %>
    <div class="mb-4">
      <h1 class="display-4 mr-3">Memories</h1>
      <div class="container ml-3">
        <%= link_to '思い出を作成する', new_memory_path, data: { turbo_action: 'replace' }, class: "small d-block mt-2" %>
      </div>
    </div>
    <turbo-frame id="memories_list">
      <%= render @memories %>
    </turbo-frame>
  <% end %>
<% end %>
