<!-- Sign in form -->
<div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start">ログイン</h1>
    <p class="text-center text-xl-start pb-3 mb-3"><%= link_to "会員登録がお済みでない方はこちらをクリック", new_user_path %></p>
    <%= form_with url: login_path, local: true do |f| %>
      <div class="position-relative mb-4">
        <%= f.label :email, class: "form-label fs-base" %>
        <%= f.email_field :email, class: "form-control form-control-lg", required: true %>
        <div class="invalid-feedback position-absolute start-0 top-100">有効なメールアドレスを入力してください</div>
      </div>
      <div class="mb-4">
        <%= f.label :password, class: "form-label fs-base" %>
        <div class="password-toggle">
          <%= f.password_field :password, class: "form-control form-control-lg", required: true %>

            <span class="password-toggle-indicator"></span>
          <div class="invalid-feedback position-absolute start-0 top-100">このパスワードは無効です</div>
        </div>
      </div>
      <div class="mb-4">
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input", id: "remember" %>
          <%= f.label :remember_me, class: "form-check-label fs-base", for: "remember" %>
        </div>
      </div>
      <%= f.submit "ログイン", class: "btn btn-primary shadow-primary btn-lg w-100" %>
    <% end %>
  </div>
</div>
